<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

<body>
  <!-- <img :src="origin + '/mail/banner.png'" width="450" height="107"> -->
  <pre>
    แจ้งสร้างรหัสผ่านใหม่ 
    ทางระบบได้ทำการสร้างรหัสผู้ใช้งานและรหัสผ่านตามที่ท่านร้องขอเรียบร้อยแล้ว
    บัญชีผู้ใช้ : {{email}}
    รหัสผ่าน : {{password}}
  </pre>
</body>

</html>