<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

<body>
  <!-- <img :src="origin + '/mail/banner.png'" width="450" height="107"> -->
  <pre>
    คุณมีการแจ้งลืมรหัสผ่าน คุณสามารถดำเนินการกำหนดรหัสผ่านใหม่ได้ตามข้อมูลด้านล่าง
    
    อีเมลที่ใช้เข้าสู่ระบบ: {{email}}
    คลิกที่ลิ้งค์เพื่อกำหนดรหัสผ่านใหม่ : <a :href="url">{{url}}</a>

  </pre>
</body>

</html>